## Build output
_site/
.jekyll-cache/

## Ruby/Bundler
.bundle/
vendor/
vendor/bundle/

## Node
node_modules/

## Python
__pycache__/
*.py[cod]

## Environments
.env
.venv/

## IDEs/Editors
.vscode/
.idea/

## OS/macOS
.DS_Store

## Logs/Temp
*.log
*.tmp
*.temp

## Misc (local working dirs)
Tex/
texts/
.sass-cache/
.cache/
instance/
.webassets-cache
