# Jekyll
_site/
.jekyll-cache/
.bundle/
vendor/

# Python
__pycache__/
*.py[cod]
...

# Flask
instance/
.webassets-cache

# Environment
.env
.venv/
...

# IDEs
.vscode/
.idea/
...

# OS files
.DS_Store
...

# Logs
*.log

# Temp files
*.tmp
*.temp

# Node
node_modules/
...