.container_my {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 650px;
    background-image: url('main.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#navbar {
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    width: 100%;
    height: 10.2vh;
    z-index: 10;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

#navbar li {
    padding: 15px;
    margin: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    color: inherit;
}

.a_nav {
    color: inherit;
}

#navbar.scrolled {
    background-color: white;
}

.a{
    text-decoration: none;
    width: max-content;
    position: relative;
    cursor: pointer;
    color: inherit;
}

.black_my {
    color: black;
}

.white_my {
    color: white;
}

.a:hover {
    color: inherit;
}

.a::after {
    content: '';
    background: var(--bs-primary);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 300ms;
}

.a:hover::after{
    width: 0%;
}

.heading_my {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 6vw;
    width: max-content;
    cursor: default;
}

.heading_my::after {
    content: '';
    background: var(--bs-primary);
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 300ms;
}

.heading_a {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 4vw;
    width: max-content;
    cursor: default;
}

.heading_a::after {
    content: '';
    background: var(--bs-primary);
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 300ms;
}

.heading_my:hover::after {
    width: 0%;
}

.heading_a:hover::after {
    width: 0%;
}

#toast_my {
    position: fixed;
    right: 15px;
    bottom: 20px;
}

#toast_img_my {
    width: 20px;
    height: 20px;
}

.cont_about {
    width: 100%;
    height: 250px;
}

#about_my {
    padding: 0 150px;
    border: 0px;
    margin: 0px;
}

.player {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 90vh;
    position: absolute;
    bottom: 0;
}

.playlist_heading {
    position: absolute;
    top: 26%;
    left: 43.3%;
    cursor: default;
}

.playlist_heading:after {
    content: '';
    background: var(--bs-primary);
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 300ms;
}

.playlist_heading:hover::after {
    width: 0%;
}

.cs_a {
    text-decoration: none;
    color: inherit;
}

.cs_a:hover {
    color: inherit;
}

#code_img {
    width: 80vw;
}

.h2, h2 {
    line-height: 45px;
}
