{% extends "base.html" %}

{% block title %}About - Taemin Park{% endblock %}
{% block description %}Learn more about Taemin Park - his background, hobbies, and interests{% endblock %}

{% block content %}
<!-- About Hero Section -->
<section class="about-container">
    <div class="container">
        <h1 class="about-heading">About Me</h1>
    </div>
</section>

<!-- About Content -->
<section class="about-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="about-text">
                    <p class="lead mb-4">
                        My name is Taemin Park, and I started taking CS50 since November 2024. I was born in 2011 (which would make me 14 years old in 2025) in Seoul (South Korea), and when I was 5, our family immigrated to Milan (Italy), due to my dad's job. We lived there for four years before returning to Korea, where we stayed until we finally moved to Poland when I was 13 years old.
                    </p>
                    
                    <p class="mb-4">
                        My hobbies include chess, and both playing and watching football. I started both hobbies when I was young. Although I haven't always been the best player, I think I'm not too bad at them either.
                    </p>
                    
                    <p class="mb-4">
                        I don't watch movies often, but if I had to pick one I think is the best, I'd choose <strong>Spider-Man: No Way Home</strong>. I was amazed by the fact that all the Spider-Men from different movies met together.
                    </p>
                    
                    <p class="mb-4">
                        My favorite author is <strong>Bernard Werber</strong>. He's French but also very popular in Korea. I especially enjoyed reading his latest book, <em>The Diagonal of the Queen</em>, where the main topic is about chess.
                    </p>
                    
                    <p class="mb-4">
                        My favorite video game is <strong>Brawl Stars</strong>. I started playing it even when it wasn't very popular, and by playing consistently, I've become one of the best players among my friends.
                    </p>
                    
                    <p class="mb-0">
                        My favorite school subjects are Math and of course PE. I like math because it feels great to solve really hard problems, and I also like that there's always one correct answer. While in other subjects, there might be several ways to solve things. And honestly, who doesn't like PE?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}