{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for h in history %}
                <tr>
                    <td class="text-start">{{ h.symbol }}</td>
                    <td class="text-end">{{ h.shares }}</td>
                    <td class="text-end">{{ h.price }}</td>
                    <td class="text-end">{{ h.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
